<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hello World!</title>
<script src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('app', []);

	app.controller('MainCtrl', function($scope) {
		$scope.greet = function() {
			$scope.message = "Hello, " + $scope.user.name;
		}
		$scope.developers = [ {
			name : "Jesus",
			country : "Spain"
		}, {
			name : "Dave",
			country : "Canada"
		}, {
			name : "Wesley",
			country : "USA"
		}, {
			name : "Krzysztof",
			country : "Poland"
		} ];
	});
	app.directive('focus', function() {
		return {
			link : function(scope, element, attrs) {
				element[0].focus();
				console.log(element[0]);
			}
		};
	});
</script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	What's your name?:

	<input type="text" focus ng-model="user.name" />
	<button ng-click="greet()">Click here!</button>

	<h3>{{ message }}</h3>
	<p />
	<pie-chart width="400" height="400" data="data"></pie-chart>
	<p />
	<button ng-click="show = !show">Show</button>
	<div ng-show="show">I am only visible when show is true.</div>
	<p />
	<ul>
		<li ng-repeat="person in developers">{{person.name}} from
			{{person.country}}</li>
	</ul>
</body>
</html>
